body {
  padding-top: 20px;
  padding-bottom: 60px;
}

/* Custom container */
.container {
  margin: 0 auto;
  max-width: 1000px;
}
.container > hr {
  margin: 60px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  margin: 80px 0;
  text-align: center;
}
.jumbotron h1 {
  font-size: 60px;
  line-height: 1;
}
.jumbotron .lead {
  font-size: 24px;
  line-height: 1.25;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Customize the navbar links to be fill the entire space of the .navbar */
.navbar .navbar-inner {
  padding: 0;
}
.navbar .nav {
  margin: 0;
  display: table;
  width: 100%;
}
.navbar .nav li {
  display: table-cell;
  width: 1%;
  float: none;
}
.navbar .nav li a {
  font-weight: bold;
  text-align: center;
  border-right: 1px solid rgba(0,0,0,.1);
}
.navbar .nav li:first-child a {
  border-left: 1px solid rgba(0,0,0,.1);
}

/* Custom stuff */

.scala-red {
  color: #ab1315;
}

.tagline {
  font-style: italic;
  color: #ab1315;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

td {
  padding: 5px 5px 5px 5px;
}

/* blog posts */

code {
  color: black;
  font-size: 1em;
  border: none;
  background: none;
  padding: 0;
}

.highlight pre {
  font-size: 14px;
}

.author-box {
  background-color: #fafafa;
  border: 1px solid rgba(0,0,0,.1);
  margin-top: 30px;
  padding: 5px 5px 5px 5px;
  float: right;
  display: inline-block;
  clear: both;
}

.side-note, .updated {
  background-color: #fafafa;
  border: 1px solid rgba(0,0,0,.1);
  font-size: 0.9em;
  padding: 0.8em 0.8em 0.8em 0.8em;
  margin: 1.5em 1em 1.5em 1em;
}

.side-note blockquote {
  margin-bottom: 0;
}

iframe.author-gh {
  overflow: hidden;
  border: none;
}

.author-image {
  float: left;
  margin-right: 8px;
}

.follow-buttons {
  margin-top: 5px;
  display: block;
}

.disqus-container {
  padding-top: 20px;
}
