---
layout: page
title: Projects
---
<div id="section-page">
  <div class="container">
    <div class="masthead-page">
      <h1><span>{{ page.title }}</span></h1>
      <p>{{site.data.description.projectsDescription}}</p>
    </div>
    <div class="projects-list">
      {% for project in site.projects %}
      <a href="{{ project.github }}" class="project-item">
        <div class="project-item-content">
          <div>
            <img src="{{ site.baseurl }}/img/assets/icon-project.svg" alt="">
            <h3>{{ project.title }}</h3>
          </div>
          <p>{{ project.description }}</p>
        </div>
        {% if project.category %}
        <div class="project-item-tag">
          <p>{{ project.category }}</p>
        </div>
        {% endif %}
        <div class="project-membership">
          {% if project.affiliate %}
          <img src="https://img.shields.io/badge/typelevel-affiliate-FFB4B5" alt="Typelevel affiliate" />
          {% else %}
          <img src="https://img.shields.io/badge/typelevel-member-FF6169" alt="Typelevel member" />
          {% endif %}
        </div>
      </a>
      {% endfor %}
    </div>
  </div>
</div>
{% include _cta-projects.html %}
