---
layout: page
title: Projects
permalink: /projects/organization/
---

<div id="section-page">
  <div class="container">
    <div class="masthead-page">
      <h1><span>{{ page.title }}</span></h1>
      <p>{{site.data.description.projectsDescription}}</p>
      {% include _tab-projects.html %}
    </div>

    <div class="projects-list">
      {% for project in site.data.projects %}
        {% if project.affiliate != true %}
          {% include _project_card.html %}
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
{% include _cta-projects.html %}
