sudo: false
language: ruby
rvm: 2.2

env:
  global:
    - secure: "fYE4XBc2dUJxu51JfH8Mj6WDN5qy3xGkn4PrXF0I2rcoBpU8kGEjIpmbirh3yjykFX4VlMbyL4bO9rRAu/twwtMu0IEsrPWnzcTdjz6yvqAyIlbcOMpvSzUIOSbi2XtVP0QzC6BcQ4AV2gGgXONC8O3vEd1vW3U2FysyI4d5HBE="

install:
  - bundle install
  - curl -s https://raw.githubusercontent.com/paulp/sbt-extras/master/sbt -o sbt
  - chmod +x sbt

script:
  - ./sbt run
  - bundle exec jekyll build

cache:
  directories:
    - $HOME/.ivy2/cache
    - $HOME/.sbt/boot
before_cache:
  - find $HOME/.ivy2 -name "ivydata-*.properties" -delete
  - find $HOME/.sbt -name "*.lock" -delete

branches:
  except:
    - master

deploy:
  - provider: script
    script: ./deploy.sh
    skip_cleanup: true
    on:
      branch: development
