---
layout: default
title: Home
class: home
---

</div> <!-- Closing the wrapper -->

<div class="hero">
  <h1>{{ site.name }}</h1>
  <p class="hero__lead">{{site.description}}</p>
</div>

<div class="wrapper">

<div class="section projects js-fade-in">
  <h2>Projects</h2>
  <p>Our projects cover a wide range of domains, from general functional programming to tooling.</p>
  
  <div class="projects__container" data-columns>
    {% for project in site.projects %}
      {% if project.core %}
        <div class="projects__project expandable">
          <div class="projects__project-header">
            <a href="{{ project.github }}">
              <h4><span class="ico-repo"></span>{{ project.title }}</h4>
            </a>
            {% if project.permalink %}
              <a class="btn pull-right" href="{{ project.permalink }}">More</a>
            {% endif %}
          </div>
            <div class="projects__project-body">
              <span class="tag">{{ project.category }}</span>
              <p>{{ project.description }}</p>
            </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>

  <a class="btn large center" href="/projects">More Projects</a>
</div>

{% include principles.html %}
