---
layout: default
title: Home
class: home
---

</div> <!-- Closing the wrapper -->

<div class="hero">
  <h1>{{ site.name }}</h1>
  <p class="hero__lead">{{site.description}}</p>
</div>

<div class="wrapper">

<div class="section events js-fade-in">
  <h2>Upcoming Events</h2>
  <p>
    For the third year, we have organized successful Typelevel Summits in
    Europe and North America. There are currently no upcoming events planned,
    but please check back here for future announcements about our
    community-based events.</p>

  {% for event in site.events %}
    {% if event.featured %}
      <div class="events__event">
        <div class="events__event-poster" style="background-image: url({{ event.poster_thumb }})"></div>
        <h3>{{ event.title }}</h3>
        <span class="meta">{{ event.date_string }}</span>
        <p>
         {{ event.description }}
         {% if event.papers_section %}<a class="btn text" href="{{ event.url | append:'#call-for-speakers' }}">Call for Speakers</a> now open.{% endif %}
        </p>
        <a class="btn large center" href="{{ event.url }}">Learn More</a>
      </div>
    {% endif %}
  {% endfor %}
</div>

<div class="section projects js-fade-in">
  <h2>Projects</h2>
  <p>Our projects cover a wide range of domains, from general functional programming to tooling.</p>
  
  <div class="projects__container" data-columns>
    {% for project in site.projects %}
      {% if project.core %}
        <div class="projects__project expandable">
          <div class="projects__project-header">
            <a href="{{ project.github }}">
              <h4><span class="ico-repo"></span>{{ project.title }}</h4>
            </a>
            {% if project.permalink %}
              <a class="btn pull-right" href="{{ project.permalink }}">More</a>
            {% endif %}
          </div>
            <div class="projects__project-body">
              <span class="tag">{{ project.category }}</span>
              <p>{{ project.description }}</p>
            </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>

  <a class="btn large center" href="/projects">More Projects</a>
</div>

{% include principles.html %}
