---
layout: page
title: Libraries
---
<div id="section-page">
  <div class="container">
    <div class="masthead-page">
      <h1><span>{{ page.title }}</span></h1>
      <p>{{site.data.description.librariesDescription}}</p>
    </div>
    <div class="libraries-list">
      {% for project in site.projects %}
      <a href="{{ project.github }}" class="library-item">
        <div class="library-item-content">
          <div>
            <img src="{{ site.baseurl }}/img/assets/icon-library.svg" alt="">
            <h3>{{ project.title }}</h3>
          </div>
          <p>{{ project.description }}</p>
        </div>
        <div class="library-item-tag">
          <p>{{ project.category }}</p>
        </div>
      </a>
      {% endfor %}
    </div>
  </div>
</div>
{% include _cta-libraries.html %}