<div id="footer">
    <div class="container">
        <div class="footer-container">
            <div class="footer-brand">
                <a href="/"><img src="{{ site.baseurl }}/img/assets/typelevel-brand.svg"
                        title="{{ site.title }}" /></a>
            </div>

            <ul class="footer-nav">
                <h3>Typelevel</h3>
                {% for item in site.data.nav.navMain %}
                <li>
                    <a href="{{ item.url | relative_url }}">{{item.title}}</a>
                </li>
                {% endfor %}
            </ul>
            <ul class="footer-nav-scala">
                <h3>Scala</h3>
                {% for item in site.data.nav.navScala %}
                <li>
                    <a href="{{ item.url | relative_url }}">{{item.title}}</a>
                </li>
                {% endfor %}
            </ul>
            <ul class="footer-social">
                
                {% for item in site.data.nav.navSocial %}
                <li>
                    <a href="{{ item.url | relative_url }}" target="_blank">
                    <i class="{{ item.icon }}"></i>
                </a>
                </li>
                {% endfor %}
                <li><a rel="me" href="https://fosstodon.org/@typelevel" target="_blank"><i class="fab fa-mastodon"></i></a></li>
            </ul>
        </div>
    </div>
</div>