<div class="gsoc-item">
  <div class="gsoc-item-content">
    <div>
      <img src="{{ site.baseurl }}/img/assets/icon-about-open-source.svg" alt="">
      <h3>{{ project.title }}</h3>
    </div>
    <p>{{ project.description | markdownify }}</p>

    <h5>Prerequisites</h5>
    <p>{{ project.prereqs | markdownify }}</p>

    <h5>Expected Difficulty</h5>
    <p>{{ project.difficulty | markdownify }}</p>

    <h5>Expected Length</h5>
    <p>
      {% if project.length == "short" %}
        Short (~ 90 hours)
      {% elsif project.length == "medium" %}
        Medium (~ 175 hours)
      {% elsif project.length == "long" %}
        Long (~ 350 hours)
      {% endif %}
    </p>

    <h5>Mentors</h5>
    <p>
      {% for mentor in project.mentors %}
        <a href="https://github.com/{{ mentor }}">@{{ mentor }}</a>
      {% endfor %}
    </p>

    <h5>Related Repos</h5>
    <p>
      {% for repolink in project.repolinks %}
        <a href="{{ repolink.url }}">{{ repolink.name }}</a>
      {% endfor %}
    </p>
  </div>
  <div class="project-item-tag">
    {% for category in project.categories %}
      <p>{{ category }}</p>
    {% endfor %}
  </div>
</div>
