<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ site.name }} | {% if page.path contains '_event' %}{{ page.short_title }}{% else %}{{ page.title }}{% endif %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ site.description }}">
  <meta http-equiv="Content-Security-Policy" content="default-src 'none'; script-src 'self' cdnjs.cloudflare.com 'unsafe-inline'; style-src 'self' cdnjs.cloudflare.com 'unsafe-inline'; font-src fonts.gstatic.com cdnjs.cloudflare.com; img-src 'self' img.shields.io; frame-src www.google.com; upgrade-insecure-requests">
  <meta name="referrer" content="no-referrer">

  <link rel="mask-icon" href="/img/favicon-safari.svg" color="#F51C2B">
  <link href="/img/favicon.png" rel="icon" type="image/x-icon">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/styles/monokai.min.css" crossorigin="anonymous" integrity="sha384-88Jvj9Q2LiBDwL7w3yciRTcH5q2zzvMFYIm4xX9/evqxJsxA33Xk9XYKcvUlPITo">
  <link rel="stylesheet" href="{{ '/css/main.css' | relative_url }}">

  <link rel="alternate" type="application/rss+xml" title="Blog articles" href="{% link blog/feed.rss %}" />

  {% if page.meta.mathjax %}
  <script>
    window.MathJax = {
      tex: {
        inlineMath: [['$', '$'], ['\\(', '\\)']]
      }
    };
  </script>
  <script type="text/javascript" id="MathJax-script" async
    src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
  </script>
  {% endif %}
</head>
