<script type="text/javascript" src="{{ '/js/functions.js' | relative_url }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/highlight.min.js" crossorigin="anonymous" integrity="sha384-zDX/4RkDnpVxZkjJjxdzDsT1Kk2XThh7u47fXdgZ1W8AMjb//F4ZK4G4y7oNVHM1"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/languages/scala.min.js" crossorigin="anonymous" integrity="sha384-3GmPRxZT/qivuIKFrF0btQk8Z2jeNUlpWOyZBiRlf1Yi2CD+EWISY5mi+2yflNz4"></script>
<script>hljs.highlightAll();</script>
<script src="https://kit.fontawesome.com/a7055d991d.js" crossorigin="anonymous" integrity="sha384-X3bthPf99rHsI5P+JvfCFDjJ25zSlFjBMRD9IKXGGUN2/dXFn9HXcpAwU8141qKG></script>
