<section id="masthead">
  <div class="container">
    <div class="masthead-inner">
      <div class="masthead-text" data-aos="fade-right">
        <h1><span>{{ site.title }}</span></h1>
        <p>{{ site.description }}</p>
        <div class="masthead-cta">
          <a class="button button-primary" href="{{ site.baseurl }}/projects/">Projects</a>
          <a class="button button-primary" href="{{ site.baseurl }}/about/">About</a>
        </div>
      </div>
      <div class="masthead-image" data-aos="fade-down">
        <svg class="masthead-image-path" width="214px" height="217px">
          <polygon fill="#FE4559"
            points="0.100965794 125.225045 0.100965794 216.172414 213.283516 91.1197822 213.283516 0.172413793">
          </polygon>
        </svg>
        <div class="masthead-image-position">
          <svg width="870px" height="690px">
            <clipPath id="polygon">
              <polygon points="0 123.444899 0 690.289062 881.435734 189.659081 881.435734 -377.185083"></polygon>
            </clipPath>
          </svg>
          <img class="mask" src="{{ site.baseurl }}/img/assets/masthead-image@2x.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
