<section id="masthead">
  <div class="container">
    <div class="masthead-inner">
      <div class="masthead-text">
        <h1>Typelevel scala</h1>
        <p>Let the Scala compiler work for you. We provide type classes, instances, conversions, testing, supplements to the standard library, and much more.</p>
      </div>
      <div class="masthead-image">
        <div class="image-position">
          <svg width="870px" height="690px" viewBox="0 0 870 690" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <clipPath id="polygon">
              <polygon id="background" fill="#21303F" points="0 123.444899 0 690.289062 881.435734 189.659081 881.435734 -377.185083"></polygon>ß
            </clipPath>
          </svg>
          <img class="mask" src="{{ site.baseurl }}/img/assets/masthead-image@2x.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
