<nav id="navigation">
  <div class="container">
    <div class="navbar" id="navbar-main">
      <div class="navbar-brand">
        <a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/img/assets/typelevel-brand.svg" title="{{ site.title }}" /></a>
      </div>
      <ul class="navbar-nav">
        {% for item in site.data.nav.navMain %}
        <li>
          <a class="{% if item.url == page.url %}active{% endif %}" href="{{ item.url | relative_url }}">{{item.title}}</a>
        </li>
        {% endfor %}
      </ul>
      <div class="navbar-icon">
       <a href="javascript:void(0);" onclick="responsiveFunction()">
         <img src="{{ site.baseurl }}/img/assets/navbar-icon.svg"/>
       </a>
     </div>
    </div>
  </div>
</nav>
