<nav id="navigation">
  <div class="wrapper">
    <div class="nav">
      <div class="navbar-brand">
        <a href="#">Brand</a>
      </div>
      <ul id="myNavbar" class="navbar-nav">
        <i onclick="myFunction()" class="fal fa-bars fa-times navbar-open"></i>
        {% for item in site.data.nav.nav %}
        <li>
          <a href="{{ site.baseurl }}{{item.url}}">{{item.title}}</a>
        </li>
        {% endfor %}
      </ul>
      <i onclick="myFunction()" class="fal fa-bars navbar-open"></i>
    </div>
  </div>
</nav>
