<nav id="navigation">
  <div class="wrapper">
    <div class="navbar">
      <div class="navbar-brand">
        <a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/img/assets/typelevel-brand.svg" title="{{ site.title }}" /></a>
      </div>
      <ul id="myNavbar" class="navbar-nav">
        <i onclick="myFunction()" class="fal fa-bars fa-times navbar-open"></i>
        {% for item in site.data.nav %}
        <li>
          <a class="{% if item.url == page.url %}active{% endif %}" href="{{ site.baseurl }}{{ item.url }}">{{item.title}}</a>
        </li>
        {% endfor %}
      </ul>
      <!-- <i onclick="myFunction()" class="fal fa-bars navbar-ope"></i> -->
    </div>
  </div>
</nav>
