<section id="section-blog" class="section-large">
  <div class="container">
    <div class="section-header">
      <h2><span>{{site.data.description.blogTitle}}</span></h2>
      <p>{{site.data.description.blogDescription}}</p>
    </div>
    <div class="blog-list">
      {% for post in site.posts limit:3 %}
      <div class="blog-item" data-aos="fade-down">
        <div class="blog-item-content">
          <a href="{{ site.baseurl }}{{ post.url }}">
            <img src="{{ site.baseurl }}{{ post.image }}" alt="">
          </a>
          <div>
            <a href="{{ site.baseurl }}{{ post.url }}">
              <h3>{{ post.title }}</h3>
            </a>
            <p>{{ post.content | truncatewords: 8 }}</p>
          </div>
        </div>
        <div class="blog-item-tag">
          <p>{{ post.category }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="section-cta">
      <a class="button button-primary" href="#" class="button">See all libraries</a>
    </div>
  </div>
</section>