<section id="section-libraries" class="section-large">
  <div class="container">
    <div class="section-header">
      <h2><span>Libraries</span></h2>
      <p>{{site.data.description.about}}</p>
    </div>
    <div class="libraries-list">
      {% for project in site.projects limit:3 %}
      <a href="{{ project.github }}" class="library-item" data-aos="fade-down">
        <div class="library-item-content">
          <div>
            <img src="{{ site.baseurl }}/img/assets/icon-library.svg" alt="">
            <h3>{{ project.title }}</h3>
          </div>
          <p>{{ project.description }}</p>
        </div>
        <div class="library-item-tag">
          <p>{{ project.category }}</p>
        </div>
      </a>
      {% endfor %}
    </div>
    <div class="section-cta">
        <a class="button button-primary" href="#" class="button">See all libraries</a>
    </div>
    <p class="sub-cta">Are you interested in submitting yout library to the Typevelel Ecosystem? <a href="#">Contact us</a></p>
  </div>
</section>
