<section id="section-libraries" class="section-large">
  <div class="container">

    <div class="section-header">
      <h2><span>Libraries</span></h2>
      <p>Our libraries cover a wide range of domains, from general functional programming to tooling.</p>
    </div>
    <div class="libraries-list">
      <div class="library-item">
          <img src="{{ site.baseurl }}{{ item.icon }}" title="{{ item.title }}" />
          <h3>Shappeles</h3>
          <p>A library intended to provide abstractions for functional programming in Scala, leveraging its unique features. Design goals are approachability, modularity, documentation and efficiency.</p>
      </div>
    </div>
  </div>
</section
