<section id="section-about" class="section-large">
  <div class="container">
    <div class="section-header">
      <h2><span>{{site.data.description.aboutTitle}}</span></h2>
      <p>{{{site.data.description.aboutDescription}}</p>
    </div>
    <div class="about-list">
      {% for item in site.data.about %}
      <div class="about-item" data-aos="fade-down">
          <img src="{{ site.baseurl }}{{ item.icon  }}" title="{{ item.title }}" />
          <h3>{{item.title}}</h3>
          <p>{{item.description}}</p>
      </div>
      {% endfor %}
    </div>
    <div class="section-cta">
        <a class="button button-primary" href="{{ site.baseurl }}/about/">See about</a>
    </div>
  </div>
</section>
