<section id="section-projects" class="section-large">
  <div class="container">
    <div class="section-header">
      <h2><span>{{site.data.description.projectsTitle}}</span></h2>
      <p>{{site.data.description.projectsDescription}}</p>
    </div>
    <div id="homeProjects" class="projects-list">
      {% assign names = "Cats|Cats-Effect|fs2|http4s" | split: "|" %}
      {% assign projects = site.data.projects | where_exp: "project", "names contains project.title" %}
      {% for project in projects %}
        {% include _project_card.html %}
      {% endfor %}
    </div>
    <div class="section-cta">
        <a class="button button-primary" href="{{ site.baseurl }}/projects/">See all projects</a>
    </div>
    <p class="sub-cta">Are you interested in submitting your projects to the Typelevel Ecosystem?
      {% for item in site.data.nav-social %}
      {% if item.title == "Email" %}
      <a href="{{item.url}}">Contact us</a></p>
      {% endif %}
      {% endfor %}
  </div>
</section>
