<section id="section-about" class="section-large">
  <div class="container">
    <div class="section-header">
      <h2><span>{{site.data.description.aboutTitle}}</span></h2>
      <p>
        Typelevel is a community working together since 2013 to foster an inclusive, welcoming, and safe environment around functional programming in Scala.
        Our ecosystem of libraries is mature and widely adopted.
      </p>
    </div>
    <div class="section-cta">
        <a class="button button-primary" href="{{ site.baseurl }}/about/">About Typelevel</a>
    </div>
  </div>
</section>
