<section id="section-blog" class="section-large">
  <div class="container">
    <div class="section-header">
      <h2><span>{{site.data.description.blogTitle}}</span></h2>
      <p>{{site.data.description.blogDescription}}</p>
    </div>
    <div class="blog-list">
      {% for post in site.posts limit:3 %}
      <a href="{{ post.url | relative_url }}" class="blog-item" data-aos="fade-down">
        <div class="blog-item-content">
          {% if post.image %}
          <img src="{{ site.baseurl }}{{ post.image }}" alt="">
          {% endif %}
          <div>
              <h3>{{ post.title }}</h3>
              {% assign author = site.data.authors[post.meta.author] %}
              {% if author %}

                  by {{ author.full_name }} 
              {% endif %}
              on {{ post.date | date: "%b %d, %Y" }}</p>
          </div>
        </div>
        <div class="blog-item-tag">
          <p>{{ post.category }}</p>
        </div>
      </a>
      {% endfor %}
    </div>
    <div class="section-cta">
      <a class="button button-primary" href="{{ site.baseurl }}/blog/">See all posts</a>
    </div>
  </div>
</section>