{% if page.meta.author == 'larsrh' %}
  <img src="https://avatars2.githubusercontent.com/u/923079?v=2&s=80" alt="">
{% elsif page.meta.author == 'non' %}
  <img src="https://secure.gravatar.com/avatar/f4d569c5f1eaa0241c0d39717da9315c" alt="">
{% elsif page.meta.author == 'milessabin' %}
  <img src="https://secure.gravatar.com/avatar/8a7e159fad28f672ca794fb7f2bf7f0f" alt="">
{% elsif page.meta.author == 'tixxit' %}
  <img src="https://secure.gravatar.com/avatar/b2ecd194174398696f1d9a80bf6a14fa" alt="">
{% elsif page.meta.author == 'S11001001' %}
  <img src="https://secure.gravatar.com/avatar/f3c712c1536240de32d4ecfc039f80aa" alt="">
{% elsif page.meta.author == 'adelbertc' %}
  <img src="https://secure.gravatar.com/avatar/fb8e986500c5059b2a6c0b2184bb0faf" alt="">
{% elsif page.meta.author == 'channingwalton' %}
  <img src="https://secure.gravatar.com/avatar/560f2f6f76ad8a88a729d8cf684ea6f3" alt="">
{% elsif page.meta.author == 'puffnfresh' %}
  <img src="https://secure.gravatar.com/avatar/f8a34d29224f05cd8bd1f480c89cf112" alt="">
{% endif %}
