{% if page.meta.author == 'larsrh' %}
  <a href="https://twitter.com/larsr_h" class="twitter-follow-button" data-show-count="false" data-lang="en">Follow @larsr_h</a><br>
  <iframe src="http://ghbtns.com/github-btn.html?user=larsrh&amp;type=follow" class="author-gh" height="20" width="150"></iframe>
{% elsif page.meta.author == 'non' %}
  <a href="https://twitter.com/d6" class="twitter-follow-button" data-show-count="false" data-lang="en">Follow @d6</a><br>
  <iframe src="http://ghbtns.com/github-btn.html?user=non&amp;type=follow" class="author-gh" height="20" width="150"></iframe>
{% elsif page.meta.author == 'milessabin' %}
  <a href="https://twitter.com/milessabin" class="twitter-follow-button" data-show-count="false" data-lang="en">Follow @milessabin</a><br>
  <iframe src="http://ghbtns.com/github-btn.html?user=milessabin&amp;type=follow" class="author-gh" height="20" width="150"></iframe>
{% elsif page.meta.author == 'tixxit' %}
  <a href="https://twitter.com/tixxit" class="twitter-follow-button" data-show-count="false" data-lang="en">Follow @tixxit</a><br>
  <iframe src="http://ghbtns.com/github-btn.html?user=tixxit&amp;type=follow" class="author-gh" height="20" width="150"></iframe>
{% elsif page.meta.author == 'S11001001' %}
  <a href="https://twitter.com/S11001001" class="twitter-follow-button" data-show-count="false" data-lang="en">Follow @S11001001</a><br>
  <iframe src="http://ghbtns.com/github-btn.html?user=S11001001&amp;type=follow" class="author-gh" height="20" width="150"></iframe>
{% elsif page.meta.author == 'adelbertc' %}
  <a href="https://twitter.com/adelbertchang" class="twitter-follow-button" data-show-count="false" data-lang="en">Follow @adelbertchang</a><br>
  <iframe src="http://ghbtns.com/github-btn.html?user=adelbertc&amp;type=follow" class="author-gh" height="20" width="150"></iframe>
{% elsif page.meta.author == 'channingwalton' %}
  <a href="https://twitter.com/channingwalton" class="twitter-follow-button" data-show-count="false" data-lang="en">Follow @channingwalton</a><br>
  <iframe src="http://ghbtns.com/github-btn.html?user=channingwalton&amp;type=follow" class="author-gh" height="20" width="170"></iframe>
{% endif %}

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
