<meta charset="utf-8">
<title>{{ site.title }} | {{ page.title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link href="{{ site.baseurl }}/css/bootstrap.min.css" rel="stylesheet">
<link href="{{ site.baseurl }}/css/custom.css" rel="stylesheet">
<link href="{{ site.baseurl }}/css/bootstrap-responsive.min.css" rel="stylesheet">

<link href="{{ site.baseurl }}/favicon.ico" rel="icon" type="image/x-icon">

{% if page.meta.nav == 'blog' %}
  <link href="{{ site.baseurl }}/blog/feed.rss" rel="alternate" type="application/rss+xml" title="The typelevel.scala Blog">
{% endif %}

<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
  <script src="{{ site.baseurl }}/js/html5shiv.js"></script>
<![endif]-->
