<meta charset="utf-8">
<title>{{ site.title }} | {{ page.title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link href="{{ site.baseurl }}/css/bootstrap.min.css" rel="stylesheet">
<link href="{{ site.baseurl }}/css/custom.css" rel="stylesheet">
<link href="{{ site.baseurl }}/css/bootstrap-responsive.min.css" rel="stylesheet">

<link href="{{ site.baseurl }}/favicon.ico" rel="icon" type="image/x-icon">

<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
  <script src="{{ site.baseurl }}/js/html5shiv.js"></script>
<![endif]-->
