<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <ul class="nav">
        {% if page.meta.nav == 'index' %}
          <li class="active"><a href="{{ site.baseurl }}/">Home</a></li>
        {% else %}
          <li><a href="{{ site.baseurl }}/">Home</a></li>
        {% endif %}

        {% if page.meta.nav == 'projects' %}
          <li class="active"><a href="{{ site.baseurl }}/projects">Projects</a></li>
        {% else %}
          <li><a href="{{ site.baseurl }}/projects">Projects</a></li>
        {% endif %}

        {% if page.meta.nav == 'blog' %}
          <li class="active"><a href="{{ site.baseurl }}/blog">Blog</a></li>
        {% else %}
          <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
        {% endif %}

        {% if page.meta.nav == 'about' %}
          <li class="active"><a href="{{ site.baseurl }}/about.html">About</a></li>
        {% else %}
          <li><a href="{{ site.baseurl }}/about.html">About</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</div>
