<div class="section about-us js-fade-in">
  <h2>About typelevel.scala</h2>
  <p>These are the core goals we're striving to achieve.</p>

  <dl class="about-us-dl about-us-dl--open-source">
    <dt>Open Source</dt>
    <dd>Independent, <a href="http://www.gnu.org/philosophy/free-sw.en.html">free/libre</a> and open-source software</dd>
  </dl>

  <dl class="about-us-dl about-us-dl--functional">
    <dt>Functional</dt>
    <dd>Pure, typeful, functional programming in Scala</dd>
  </dl>

  <dl class="about-us-dl about-us-dl--shared">
    <dt>Shared</dt>
    <dd>A desire to share ideas and code</dd>
  </dl>

  <dl class="about-us-dl about-us-dl--resources">
    <dt>Resources</dt>
    <dd>Accessible and idiomatic learning resources</dd>
  </dl>

  <dl class="about-us-dl about-us-dl--friendly">
    <dt>Friendly</dt>
    <dd>An inclusive, welcoming and safe environment</dd>
  </dl>

  <dl class="about-us-dl about-us-dl--modular">
    <dt>Modular</dt>
    <dd>Focused, separate modules designed to work together</dd>
  </dl>
</div>
