{% assign profiles = site.data.authors %}

<table class="schedule">
  <tr>
    <th>Time</th>
    <th>Talk</th>
  </tr>

  {% for item in schedule %}
    {% if item.break %}
      <tr>
        <td>{{ item.time }}</td>
        <td>
          <h5>{{ item.title }}</h5>
        </td>
      </tr>
    {% else %}
      <tr>
        <td>{{ item.time }}</td>
        <td class="talk">
          <div class="schedule__header">
            <ul class="schedule__avatars">
              {% for speaker in item.speakers %}
                <li>
                  <img src="{{ profiles[speaker].portrait }}" />
                </li>
              {% endfor %}
            </ul>
            <hgroup>
              <h5>{{ item.title }}</h5>
              <ul class="schedule__speakers">
                {% for speaker in item.speakers %}
                  <li>{{ profiles[speaker].full_name }}</li>
                {% endfor %}
              </ul>
            </hgroup>
          </div>
          <p>
            {{ item.summary | truncate:250 }}
          </p>
          <span class="btn text js-open-popup" data-id="{{ item.title | slugify }}">More</span>
        </td>
      </tr>
    {% endif %}
  {% endfor %}

</table>

<!--- All speaker popups -->
<div class="speakers js-close-popup">
  {% for item in schedule %}
    {% if item.break == null or item.break == false %}

      <div class="speakers__overlay" data-id="{{ item.title | slugify }}">
        <a href="#" class="ico-close js-close-popup"></a>

        <div class="content content-small">
          <h3>{{ item.title }}</h3>
          <h4>at {{ item.time }}</h4>
          <p>{{ item.summary }}</p>

          <h3>About Speaker</h3>
          <div class="schedule__header">
            <ul class="schedule__avatars">
              {% for speaker in item.speakers %}
                <li>
                  <img src="{{ profiles[speaker].portrait }}" />
                </li>
              {% endfor %}
            </ul>
            <hgroup>
              <ul class="schedule__speakers">
                {% for speaker in item.speakers %}
                  <li>{{ profiles[speaker].full_name }}</li>
                {% endfor %}
              </ul>
            </hgroup>
          </div>

          {% for speaker in item.speakers %}
            <p>{{ profiles[speaker].bio }}</p>
            {% assign person = profiles[speaker] %}
            <!-- <div>{% include social.html person=person %}</div> -->
          {% endfor %}
        </div>
      </div>

    {% endif %}
  {% endfor %}
</div>
