{% assign platinum_sponsors = page.sponsors | where:'type','platinum' %}
{% assign gold_sponsors     = page.sponsors | where:'type','gold'     %}
{% assign silver_sponsors   = page.sponsors | where:'type','silver'   %}

<div class="sponsors">
  {% if platinum_sponsors.size > 0 %}
    <div class="sponsors__sponsor sponsors__sponsor--platinum">
      <h3>Platinum</h3>
      {% for sponsor in platinum_sponsors %}
        <a href="{{ sponsor.link }}">
          <img src="{{ sponsor.logo }}" alt="{{ sponsor.name }}" title="{{ sponsor.name }}" style="height:{{ sponsor.height }}px" />
        </a>
      {% endfor %}
    </div>
  {% endif %}

  {% if gold_sponsors.size > 0 %}
    <div class="sponsors__sponsor sponsors__sponsor--gold">
      <h3>Gold</h3>
      {% for sponsor in gold_sponsors %}
        <a href="{{ sponsor.link }}">
          <img src="{{ sponsor.logo }}" alt="{{ sponsor.name }}" title="{{ sponsor.name }}" style="height:{{ sponsor.height }}px" />
        </a>
      {% endfor %}
    </div>
  {% endif %}

  {% if silver_sponsors.size > 0 %}
    <div class="sponsors__sponsor sponsors__sponsor--silver">
      <h3>Silver</h3>
      {% for sponsor in silver_sponsors %}
        <a href="{{ sponsor.link }}">
          <img src="{{ sponsor.logo }}" alt="{{ sponsor.name }}" title="{{ sponsor.name }}" style="height:{{ sponsor.height }}px" />
        </a>
      {% endfor %}
    </div>
  {% endif %}

  {% if page.sponsors.size == 0 %}
    <p>We have not yet confirmed sponsors for this event.</p>
  {% endif %}
</div>
