// MIXINS & EXTEND
// =====================================================================
// =====================================================================

// Mixin Border nav
// ---------------------------------------------------------------------

@mixin border-nav {
  display: block;
  content: '';
  border-bottom: $base-point-grid / 2 solid $brand-primary;
}

//  Mixin Title path
// ---------------------------------------------------------------------

@mixin title-path {
  position: absolute;
  top: - $base-point-grid * 3;
  left: 0;
  z-index: -1;
  content: url(../img/assets/title-path.svg);
}



//  Mixin Grid
// ---------------------------------------------------------------------


@mixin grid {
  display: grid;
  gap: $grid-line-base;
}

@mixin col-1 {
  grid-template-columns: 1fr;
}

@mixin col-2 {
  grid-template-columns: repeat(2, 1fr);
}

@mixin col-3 {
  grid-template-columns: repeat(3, 1fr);
}

@mixin col-4 {
  grid-template-columns: repeat(4, 1fr);
}

//  Mixin Breakpoint
// ---------------------------------------------------------------------

@mixin bp($point) {
  @if $point==xlarge {
    @media (max-width: $bp-xlarge) {
      @content;
    }
  }

  @if $point==large {
    @media (max-width: $bp-large) {
      @content;
    }
  }

  @if $point==medium {
    @media (max-width: $bp-medium) {
      @content;
    }
  }

  @if $point==small {
    @media (max-width: $bp-small) {
      @content;
    }
  }

  @if $point==small {
    @media (min-width: $bp-small) {
      @content;
    }
  }
}
