// ABOUT
// =====================================================================
// =====================================================================

.about-list {
  @include grid;
  @include col-3;

  .about-item {
    @include hexagon;

    img {
      margin: $base-point-grid * 17 0 $base-point-grid * 3 0;
    }

    p {
      max-width: $base-point-grid * 80;
      margin: 0 auto;
      //background: $brand-primary;
      padding: 0 $base-point-grid * 18;
    }

    &:nth-child(1) {
      transition-delay: 0.2s;
    }

    &:nth-child(2) {
      transition-delay: 0.4s;
    }

    &:nth-child(3) {
      transition-delay: 0.6s;
    }

    &:nth-child(4) {
      transition-delay: 0.8s;
    }

    &:nth-child(5) {
      transition-delay: 1s;
    }

    &:nth-child(6) {
      transition-delay: 1.2s;
    }
  }
}

#section-page {
  .about-list {
    background: url("../img/assets/background-about.svg") no-repeat center center;
    .about-item {
      &:nth-child(1),
      &:nth-child(3) {
        margin-top: $base-point-grid * 50;
        margin-bottom: $base-point-grid * 12;
      }

      &:nth-child(5) {
        margin-top: $base-point-grid * 50;
      }
    }
  }
}

// Responsive
@include bp(large) {
  .about-list {
    @include col-2;
  }
}
@include bp(medium) {
  .about-list {
    @include col-1;
  }
}
