// BUTTONS
// =====================================================================
// =====================================================================
.button {
  display: inline-block;
  min-width: $base-point-grid * 38;
  padding: $button-padding-x $button-padding-y;
  font-family: $button-font-family;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: $base-point-grid / 4;
  &:hover {
    text-decoration: none;
  }
  &.button-primary {
    background: $button-primary-background;
    color: $button-primary-color;
    &:hover {
      background: $button-primary-hover;
    }
  }
}
