// Card
// =====================================================================
// =====================================================================
.card {
  padding: $card-padding;
  background: $card-background;
  box-shadow: $card-shadow;
}
