// Hexagon
// =====================================================================
// =====================================================================

.hexagon {
  min-height: $base-point-grid * 80;
  text-align: center;
  background: url("../img/assets/hexagon-path.svg") no-repeat center center;
  filter: drop-shadow($box-shadow);
}
