// LAYOUT
// =====================================================================
// =====================================================================

.container {
  padding: 0 $base-point-grid * 6;
  margin: 0 auto;
  max-width: $size-max-width;
}
