// LIBRARIES
// =====================================================================
// =====================================================================

#section-libraries {
  .libraries-list {
    @include grid;
    @include col-3;

    .library-item {
      @include card;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      color: $base-font-color;

      .library-item-content {
        > div {
          display: flex;
          margin: 0 0 $base-point-grid * 5 0;
          align-items: center;

          h3 {
            margin: 0 0 0 $base-point-grid * 4;
          }
        }
      }

      .library-item-content {
        //background-color: $bse;
      }

      .library-item-tag {
        margin-top: 20px;

        p {
          @include tag;
        }
      }

      &:nth-child(1) {
        transition-delay: 0.2s;
      }

      &:nth-child(2) {
        transition-delay: 0.4s;
      }

      &:nth-child(3) {
        transition-delay: 0.6s;
      }

      &:hover {
        text-decoration: none;
      }
    }
  }

  .sub-cta {
    max-width: $base-point-grid * 91;
    margin: $base-point-grid * 8 auto 0 auto;
    text-align: center;
  }
}

// Responsive
@include bp(large) {
  #section-libraries {
    .libraries-list {
      @include col-2;
    }
  }
}

@include bp(medium) {
  #section-libraries {
    .libraries-list {
      @include col-1;
    }
  }
}
