// NAVIGATION
// =====================================================================
// =====================================================================

.wrapper {
  padding: 0 $base-point-grid * 6;
  margin: 0 auto;
  max-width: $size-max-width;
}

#navigation {
  position: fixed;
  top: 0;
  z-index: 10;
  padding: $navigation-padding 0;
  width: 100%;
  background: $navigation-background;
  transition: padding $base-duration $base-timing;

  &.navigation-scroll {
    padding: ($navigation-padding / 2) 0;
  }

  .navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;

    .navbar-brand {
      img {
        display: block;
      }
    }

    .navbar-nav {
      display: flex;
      font-family: $navigation-font-family;
      text-transform: $navigation-text-transform;

      li {
        list-style: none;

        &:not(:last-child) {
          margin-right: $base-point-grid * 12;
        }

        a {
          text-decoration: none;
          letter-spacing: 1px;
          color: $navigation-link-color;

          &:after {
            @include border-nav;
            transform: scaleX(0);
            transition: transform $base-duration $base-timing;
          }

          &.active {
            cursor: default;

            &:after {
              @include border-nav;
              transform: scaleX(1);
            }
          }

          &:active,
          &:hover,
          &:visited {
            color: $navigation-link-color;
          }

          &:hover {
            &:after {
              transform: scaleX(1);
            }
          }
        }
      }
    }
    .navbar-icon {
      display: none;
    }
  }
}
// Responsive
@include bp(medium) {
  #navigation {
    .navbar {
      align-items: flex-start;

      .navbar-nav {
        margin-top: $base-point-grid * 8;

        li {
          display: none;

          a {
            &:after {
              display: none;
            }

            &.active {
              border-bottom: 2px solid $brand-primary;

              &:after {
                display: none;
              }
            }
          }
        }
      }

      .navbar-icon {
        display: block;
        position: absolute;
        right: 0;
        top: 12px;
      }

      &.responsive {
        flex-direction: column;
        justify-content: flex-start;

        .navbar-nav {
          flex-direction: column;

          li {
            display: block;

            &:not(:last-child) {
              margin-bottom: $base-point-grid * 4;
            }
          }
        }
      }
    }
  }
}
