// NEWSLETTER
// =====================================================================
// =====================================================================

#section-newsletter {
  background-color: $brand-primary;
  min-height: 400px;
  background-image: url("../img/assets/background-pattern-news-left.svg"), url("../img/assets/background-pattern-news-right.svg");
  background-position: left top, right bottom;
  background-repeat: no-repeat;
}
