// SECTION CTA
// =====================================================================
// =====================================================================

.section-cta {
  margin-top: $base-point-grid * 16;
  text-align: center;
  background: #ddd;
}
