---
layout: page
title: About
---


<div id="section-page">
  <div class="container">
    <div class="masthead-page">
      <h1><span>{{ page.title }}</span></h1>
      <ul class="masthead-social">

        {% for item in site.data.nav-social %}
        <li>
          <a href="{{ item.url | relative_url }}" target="_blank">
            <i class="{{ item.icon }}"></i>
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="masthead-blog-detal">
      <p>{{site.data.description.aboutDescription}}</p>
      {% include _tab-about.html %}
    </div>

    <div class="about-list">
      {% for item in site.data.about %}
      <div class="about-item">
        <img src="{{ site.baseurl }}{{ item.icon }}" title="{{ item.title }}" />
        <h3>{{item.title}}</h3>
        <p>{{item.description}}</p>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% include _cta-conduct.html %}
<br /><br /><br />
{% include _cta-steering.html %}
