---
layout: page
title: Blog
---

<div id="section-page">
  <div class="container">
    <div class="masthead-page">
      <h1><span>{{ page.title }}</span></h1>
      <p>{{site.data.description.blogDescription}}</p>
      {% include _tab.html %}
    </div>

    <div class="blog-list">

     
      {% for post in site.posts %}
      <a href="{{ site.baseurl }}{{ post.url }}" class="blog-item">
        <div class="blog-item-content">
          <div>
              <h3>{{ post.title }}</h3>
              {% assign author = site.data.authors[post.meta.author] %}
              {% if author %}

                  by {{ author.full_name }} 
              {% endif %}
              on {{ post.date | date: "%b %d, %Y" }}</p>
          </div>
        </div>

        {% if post.category %}
        <div class="blog-item-tag">
          <p>{{ post.category }}</p>
          </div>
        {% else %}
      
        {% endif %}
      </a>
      {% endfor %}
    </div>
  </div>
</div>
{% include _cta-blog.html %}
