/* COLORS
========================================================================== */
$black:           #021521;
$grey:            #8F9293;
$dark-grey:       #35444D;
$light-grey:      #EEF2F4;
$border:          #F0F0F0;
$red:             #E8223A;
$dark-red:        #BD1A30;
$orange:          #F95A66;
$dark-blue:       #042D73;



/* TYPEFACES
========================================================================== */
$sans-serif:      "AvenirLTStd-Book", "Avenir", "Avenir Next", BlinkMacSystemFont, -apple-system, "SF UI Text", "Roboto", "Segoe UI", sans-serif;
$serif:           "Droid Serif", Georgia, serif;
$italic:          "AvenirLTStd-Oblique", "Avenir-Oblique", BlinkMacSystemFont, -apple-system, sans-serif;
$monospace:       Monaco, Menlo, Consolas, Lucida Console, monospace;
$font-medium:     500;
$font-bold:       600;



/* DIMENSIONS
========================================================================== */
$content:         960px;
$content-small:   600px;
$small:           690px;

$spacing-unit:     20px;