// VARIABLES
// =====================================================================
// =====================================================================


// Google Fonts
// ---------------------------------------------------------------------

@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&family=Open+Sans+Condensed:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&display=swap');


// Colors
// ---------------------------------------------------------------------

$brand-primary:               #FE465B;
$gray-primary:                #21303F;
$white:                       #ffff;

$link-color:                  $brand-primary;
$link-hover:                  darken($brand-primary, 4%);

$body-background:             $white;

// Typography
// ---------------------------------------------------------------------

// Base
$base-font-family:            'Mulish', sans-serif;
$base-font-color:             $gray-primary;
$base-font-size:              16px;
$base-line-height:            1.5;

// Heading
$heading-font-family:         'Open Sans Condensed', sans-serif;
$heading-font-color:          $gray-primary;
$heading-text-transform:      uppercase;
$heading-line-height:         1.3;

// Code
$code-font-family:            'Fira Code', monospace;
$code-font-color:             rgba($white, 0.8);

// Font weight
$font-weight-regular:         400;
$font-weight-bold:            700;
$base-font-weight:            $font-weight-regular;
$heading-font-weight:         $font-weight-bold;


// Layout
// ---------------------------------------------------------------------
$base-point-grid:             0.25rem;
$size-max-width:              $base-point-grid * 290; // 1160px

$grid-line-base:              $base-point-grid * 8;
$grid-line-large:             $base-point-grid * 10;

$section-small-padding:       $base-point-grid * 6;
$section-normal-padding:      $section-small-padding * 2;
$section-large-padding:       $section-normal-padding * 2;

$section-header-width:        $base-point-grid * 141;

$bp-small:                    $base-point-grid * 144; // 576
$bp-medium:                   $base-point-grid * 192; // 768
$bp-large:                    $base-point-grid * 248; // 992
$bp-xlarge:                   $base-point-grid * 300; // 1200
$bp-xlarge:                   $base-point-grid * 350; // 1400

// Animations
// ---------------------------------------------------------------------
$base-duration:               350ms;
$base-timing:                 ease;

// Effect
// ---------------------------------------------------------------------

$box-shadow: 0 $base-point-grid * 5 $base-point-grid * 12 rgba($gray-primary, 0.16);
$box-shadow-hover: 0 $base-point-grid * 2 $base-point-grid * 8 rgba($gray-primary, 0.16);

// Navigation
// ---------------------------------------------------------------------
$navigation-padding:          $base-point-grid * 8;
$navigation-background:       $white;
$navigation-font-family:      $heading-font-family;
$navigation-text-transform:   uppercase;
$navigation-link-color:       $gray-primary;
$navigation-link-hover:       $brand-primary;

// Masthead
// ---------------------------------------------------------------------
$masthead-padding:            $base-point-grid * 28;

// Buttons
// ---------------------------------------------------------------------
$button-padding-x:            $base-point-grid * 4;
$button-padding-y:            $base-point-grid * 10;
$button-font-family:          $heading-font-family;
$button-primary-color:        $white;
$button-primary-background:   $brand-primary;
$button-primary-hover:        darken($button-primary-background, 15%);
$button-secondary-color:      $brand-primary;
$button-secondary-background: $white;
$button-secondary-hover:      rgba($white, 0.9);

// Card
// ---------------------------------------------------------------------

$card-padding:                $base-point-grid * 7;
$card-font-size:              0.938rem;
$card-background:             $white;
$card-shadow:                 $box-shadow;

// Tag
// ---------------------------------------------------------------------

$tag-padding-x:               $base-point-grid * 2;
$tag-padding-y:               $base-point-grid * 4;
$tag-font-size:               0.625rem;
$tag-text-transform:          uppercase;
$tag-background:              rgba($gray-primary, 0.08);
$tag-border-radius:           $base-point-grid * 25;

// Tab
// ---------------------------------------------------------------------
$tab-font-size:               1.125rem;
$tab-font-family:             $heading-font-family;
$tab-color:                   $base-font-color;
$tab-text-transform:          uppercase;
$tab-border:                  $base-point-grid / 2;
$tab-padding:                 $base-point-grid;


// Footer
// ---------------------------------------------------------------------

$footer-padding-y:            $base-point-grid * 16;