// MASTHEAD
// =====================================================================
// =====================================================================

#masthead {
  padding: $masthead-padding 0;
  min-height: $base-point-grid * 225;

  .masthead-inner {
    @include grid;
    @include col-2;

    .masthead-text {
      padding-top: $base-point-grid * 58;
      transition-duration: 1000ms;
      transition-delay: 0.4s;
      h1 {
        position: relative;
        margin-bottom: $base-point-grid * 7;
        font-size: 4.25rem;
      }
      p {
        margin-bottom: $base-point-grid * 10;
        font-size: 1.125rem;
      }

      .masthead-cta {
        display: flex;
        a {
          &:first-child {
            margin-right: $base-point-grid * 3;
          }
        }
      }
    }

    .masthead-image {
      position: relative;

      .masthead-image-path {
        position: absolute;
        bottom: - $base-point-grid * 49;
        left: $base-point-grid * 11;
        z-index: 8;
        opacity: 0.8;
      }
      .masthead-image-position {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 4;
        width: 870px;
        height: 690px;


        img {
          width: 870px;
          height: auto;
        }

        svg {
          position: absolute;
        }

        .mask {
          clip-path: url(#polygon);
        }
      }
    }
  }
}

.masthead-page {
  margin-bottom: $base-point-grid * 16;
  display: flex;
  flex-direction: column;
  align-items: center;
  h1  {
    margin-bottom: $base-point-grid * 6;
  }
  p {
    max-width: $base-point-grid * 140;
    text-align: center;
    font-size: 1.125rem;
  }

  .masthead-social {
    display: flex;
    margin-top: $base-point-grid * 6;
    li {
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 48px;
        height: 48px;
        color: $white;
        background: url("../img/assets/background-social.svg") no-repeat center center;
        transition: $base-duration $base-timing;
        transition-property: margin;
        &:hover {
          margin-top: - $base-point-grid * 2;
          text-decoration: none;
        }
      }
      &:not(last-child) {
        margin-right: $base-point-grid * 4;
      }
    }
  }
}
