// SECTION CTA
// =====================================================================
// =====================================================================

.section-header {
  margin: 0 auto $base-point-grid * 16 auto;
  max-width: $section-header-width;
  text-align: center;
}

.section-cta {
  margin-top: $base-point-grid * 16;
  text-align: center;
}
