<!DOCTYPE html>
<html>
{% include _head.html %}

<body>
  {% include _nav.html %}
  <div id="section-page">
    <div class="container container-blog">
      <div class="masthead-blog-detal">
        <h1><span>{{ page.title }}</span></h1>

        <p class="blog-detail-date">
          on {{ page.date_string }}
          at {{ page.location }}
        </p>
        <img src="{{ site.baseurl }}{{ page.poster_hero }}" alt="">
      </div>
      <div class="blog-detail-content">
      {{ content }}

    </div>

    </div>
  </div>

  {% include _cta-newsletter.html %}
  {% include _footer.html %}

  {% include _js-bottom.html %}
</body>

</html>
