<!DOCTYPE html>
<html>
{% include _head.html %}

<body>
  {% include _nav.html %}
  <div id="section-page">
    <div class="container container-blog">
      <div class="masthead-blog-detal">
        <h1><span>{{ page.title }}</span></h1>
        {% assign author = site.data.authors[page.meta.author] %}
        {% if author %}
        <p class="blog-detail-date">by {{ author.full_name }}
          {% endif %}
          on {{ page.date | date: "%b %d, %Y" }}
        </p>
        <p class="blog-detail-tag">{{ page.category }}</p>
        <img src="{{ site.baseurl }}{{ page.image }}" alt="">
      </div>
      <div class="blog-detail-content">
      {{ content }}
      
    </div>
    
    </div>
  </div>

  {% include _cta-newsletter.html %}
  {% include _footer.html %}

  {% include _js-bottom.html %}
</body>

</html>
