---
layout: page
title: "Google Summer of Code"
permalink: /gsoc/ideas/
---

<div id="section-page">
  <div class="container">
    <div class="masthead-page">
      <h1><span>{{ page.title }}</span></h1>
      <p>
        Our community has identified project ideas that we believe will significantly enhance the Typelevel ecosystem.
        Nothing is set in stone: we may be able to adjust a project’s length and difficulty so that it is a good fit for you.
        So if you see something here that interests you or have an idea of your own, please get in touch!
      </p>
      {% include _tab-gsoc.html %}
    </div>

    <div class="gsoc-list">
      {% for project in site.data.gsoc-ideas %}
        {% include _gsoc_idea_card.html %}
      {% endfor %}
    </div>
  </div>
</div>
{% include _cta-gsoc.html %}
