@import "https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/versions/bulma-prefixed.min.css";

:root {
  --bulma-link-h: 283.33deg;
  --bulma-link-s: 96.10%;
  --bulma-link-l: 67.45%;

  --bulma-scheme-h: 283.33deg;
  --bulma-scheme-s: 68.75%;
  --bulma-scheme-l: 92.35%;

  --bulma-text-h: 195.00deg;
  --bulma-text-s: 13.70%;
  --bulma-text-l: 22.75%;

  --bulma-primary-h: 272.97deg;
  --bulma-primary-s: 34.49%;
  --bulma-primary-l: 48.04%;
}

:root {
  --bulma-body-size: 1.1em
}

.bulma-button {
  --bulma-button-text-decoration: none;
}

.bulma-navbar {
  --bulma-navbar-height: 5rem;
  --bulma-navbar-item-img-max-height: 3rem;
}

body {
  min-height: 100vh;
}

a.anchor-link {
  visibility: hidden;
  position: absolute;
  display: inline-block;
  width: 1.4em;
  margin-top: 0.3em;
  text-align: right;
  text-decoration: none;
  margin-left: -1.2em;
  padding-right: 0.5em;
  font-size: 0.7em;
}

h1:hover > a.anchor-link,
h2:hover > a.anchor-link,
h3:hover > a.anchor-link,
h4:hover > a.anchor-link,
h5:hover > a.anchor-link,
h6:hover > a.anchor-link {
  visibility: visible;
  text-decoration: none;
}

img.sponsor {
  max-height: 48px;
}

/* Hack to prevent double-rendering the title in blog posts */
.blog-post .title {
  display: none;
}

/* Hack to render multi-author bylines */
.blog-post-byline span.delimiter:nth-last-child(-n+2 of .delimiter) {
  display: none;
}

.blog-post-byline span.last-delimiter:not(:nth-last-child(2 of .last-delimiter)) {
  display: none;
}

/* Laika syntax highlighting */
:root {
  --code-font: "Fira Mono", monospace;
  --code-font-size: var(--bulma-code-size);
  --primary-color: var(--bulma-text);
  --syntax-base1: #21303f; /* background */
  --syntax-base2: #73ad9b; /* comments */
  --syntax-base3: #b2adb4; /* punctuation */
  --syntax-base4: #ffb4b5; /* identifier */
  --syntax-base5: #e6e8ea; /* unclassified */
  --syntax-wheel1: #8fa1c9; /* substitution, annotation */
  --syntax-wheel2: #81e67b; /* keyword, escape-sequence */
  --syntax-wheel3: #ffde6d; /* declaration name */
  --syntax-wheel4: #86aac1; /* literals */
  --syntax-wheel5: #f86971; /* type/class name */

  /* Protosearch theme integration */
  --ps-bg: var(--bulma-scheme-main);
  --ps-text-muted: var(--bulma-text-weak);
  --ps-border: var(--bulma-border);
  --ps-link: var(--bulma-link);
  --ps-highlight: #ffde6d;
}

/* Equal height cards in grid and column */
.bulma-cell > .bulma-card,
.bulma-column > .bulma-card {
  height: 100%;
}

.nowrap {
  white-space: nowrap;
}

.hyphenate {
  hyphens: auto;
}

img.legacy-event-sponsor {
  height: 60px;
}

.schedule-title {
  display: block;
  font-weight: bold;
}

.schedule-byline {
  display: block;
}

.bulma-icon > svg {
  box-sizing: content-box;
  display: var(--fa-display, inline-block);
  height: 1em;
  overflow: visible;
  vertical-align: -0.125em;
  width: var(--fa-width, 1.25em);
}
