// Base
// -----------------------------------------------
// -----------------------------------------------
// Body, html
// -----------------------------------------------

html {
  box-sizing: border-box;
  font-size: $base-font-size;
}
@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

*,
*::after,
*::before {
  box-sizing: inherit;
}
// Typography
// -----------------------------------------------

body {
  margin: 0;
  color: $base-font-color;
  background: url("../img/assets/background-pattern.svg") no-repeat top center $body-background;
  font-family: $base-font-family;
  line-height: $base-line-height;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;
  text-transform: uppercase;
  color: $heading-font-color;
  line-height: $heading-line-height;
}

h1 {
  font-size: 3.75rem;
}

h2 {
  margin-bottom: $base-point-grid * 5;
  font-size: 2rem;
}

h3 {
  margin-bottom: $base-point-grid * 3;
  font-size: 1.25rem;
}

a {
  color: $link-color;
  text-decoration: none;
  transition: $base-duration $base-timing;
  transition-property: color, background, box-shadow;

  &:visited {
    color: $link-color;
  }

  &:hover {
    color: $link-hover;
    text-decoration: underline;
  }

  &:active {
    color: $link-color;
  }
}

img {
  max-width: 100%;
}
